
  input {
    outline: 0;
    border-width: 0 0 1.5px;
    border-color: grey
  }

  .false-label {
    display: inline-block;
    max-width: 100%;
    margin-bottom: 0px;
    font-size: 12px;
    font-weight: lighter;
  }

  .true-label {
    display: inline-block;
    max-width: 100%;
    margin-bottom: 0px;
    font-size: 12px;
    font-weight: lighter;
    color:#428bca
  }