<div class="container">
    <div class="center-screen">
        <div class="well well-lg" style="width: 348px; background-color: white">
            <div><img src="../assets/images/heading.png"></div>
            <div style="margin-top:10px">Sign in to see photos and videos from your friends.</div>
            <div style="margin-top:10px">
                <form>
                    <div class="form-group">
                        <input type="text" class="form-control" placeholder="Phone number, username, or email" name="username" [(ngModel)]='username' (input)="onSearchChange()">
                    </div>
                    <div class="form-group">
                        <input type="password" class="form-control" placeholder="Password" name="password" [(ngModel)]='password' (input)="onSearchChange()">
                    </div>
                    <button style="width:100%" type="button" class="btn btn-info" [disabled]="enableLogInButton" (click)="boom()">Log In</button>
                  </form>
            </div>
            <div style="margin-top:20px">Or</div>
            <div style="margin-top:20px"><button style="width:100%" type="button" class="btn btn-primary"><i class="fa fa-home"></i>Log in with Facebook</button></div>
            <div style="margin-top:20px"><a style="cursor: pointer;text-decoration: none;">Forget Password?</a></div>
        </div>
        <div class="well well-lg" style="width: 348px; background-color: white">
          <div>Don't have an account? <a style="cursor: pointer;text-decoration: none;">Sign up</a></div>
        </div>
        <div>Get the app.</div>
        <div style="margin-top:20px">
          <a href="https://itunes.apple.com/app/instagram/id389801252?pt=428156&amp;ct=igweb.loginPage.badge&amp;mt=8&amp;vt=lo">
            <img style="height: 40px;" src="../assets/images/Instagram_files/180ae7a0bcf7.png">
          </a>
          <a href="https://play.google.com/store/apps/details?id=com.instagram.android&amp;referrer=utm_source%3Dinstagramweb%26utm_campaign%3DloginPage%26ig_mid%3DXQSPZgALAAEBtXnPEGxABOnE7_cH%26utm_content%3Dlo%26utm_medium%3Dbadge">
            <img style="height: 40px;" src="../assets/images/Instagram_files/e9cd846dc748.png">
          </a>
        </div>
    </div>
</div>
